<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width={device-width}, initial-scale=1.0">
    <title>Document</title>
</head>
    <body>
        <header>
            <a fref="/"><h1>PlayTowin.com</h1></a>
          <nav>
              <a fref="/usuarios">Usuários</a>
             <a fref="/jogos">Jogos</a>
         </nav>
      </header>
     <main>
        {{{body}}}
     </main>
    </body>
</html>